
body{                /* image en background */
    min-height: 100vh;
    background-image: url(Image/fond\ ecran\ cv.png);
    background-size: cover;
    background-attachment: fixed;
}

H1 {                 /* background du tires en degrade */
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 20px 10px 190px 10px;
    border: 0px 10px;
    background-image:linear-gradient(rgb(131, 217, 243),rgba(14, 5, 141, 0.664));
    border-radius: 15px;
    color: rgb(255, 255, 255);
  }

.lien_cours li{      /* aligner les images */
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
.lien_cours ol{     /* aligner les images */
    padding: 6;
    display: flex;
    justify-content: space-around;
  }
li{       /* espacement en hauteur, et taille de la police */
  list-style: none;
  margin: 4px 90px 0px 0px ;
  font-size: 180%;
  color: white;
  
}

h2{       /* espacement de la gauche des images */
  margin: 0px 0px 0px 20px;
}

h3{       /* position de la maison "retour en arriere" */
  position: relative; left: 0px; top: -180px;
  list-style: none;
    height: 80px;
    width: 80px;
    margin: 10px;
    border: solid 2px rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
}